h1{
    text-align: center;
    color: blueviolet;
    font-size: 50px;
    font-style: italic;
}
div{
    background-color: aquamarine;
    width: 600px; height: 400px;
    box-shadow: 10px  blueviolet;
    padding: 10px;
    margin-bottom: 10px;
    background-size: 50px;
}
#mb{ 
    background-color: cadetblue;
    width: 500px; height: 600px;
}
h2{
    background-color: rosybrown;
}
